body {
    background-color: #ddd;
}
h1 {
    font-family: "Arial";
    font-size: 35px;
    font-weight: bold;
}
h2 {
    font-family: "Arial";
    font-size: 30px;
}
div.exerciseContainer {
    background-color: #fff;
    border: 3px solid black;
    width: 1280px;
    height: 720px;
    position: absolute;
}
img.exerciseScreenshot {
    border: 2px solid #bbb;
    margin: 10px;
}
div.exerciseDescription {
    color: #444444;
    font-family: "Arial";
    font-size: 32.8px;
    font-weight: bold;
}
div.exerciseAnswersTitle {
    color: #444444;
    font-family: "Arial";
    font-size: 32.8px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 22px;
}
div.exerciseAnswersOption {
    color: #444444;
    font-family: "Arial";
    font-size: 32.8px;
    font-weight: normal;
    margin-bottom: 34px;
}
div.exerciseAnswersOption input[type="checkbox"] {
    transform: scale(1.8);
    margin-left: 13px;
    margin-right: 22px;
    border: 2px solid #888;
}

input.exerciseRadio {
    display: block;
    transform: scale(1.8);
    margin-left: 10px;
    height: 180px;
}

span.exerciseMath {
    font-size: 37px;
}
